

body {
	background-color: transparent;
  font-family: 'Open Sans', sans-serif;
}

.aboutme { 
  background: url(aboutbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.myportfolio {
  background: url(contactbackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.contact {
  background: url(portfoliobackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.footer {
	padding-top: 6px;
	padding-bottom: 6px;
	color: white;
}

.description-of-me {
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

.projects {
	padding-top: 15px;
  font-size: 18px;
}

.project-image {
	height: 250px;
	width: 250px;
}

.contact {
	padding-top: 15px;
  font-size: 16px;
}

.header {
    height: 100vh;
    width: 100%;
    min-height: 100%;
  	text-align: center;
    color: #FFF;
    background: url(https://i.imgur.com/SPFIQ41.jpg) no-repeat;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.vcenter {
  position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    opacity: 1;
  color: #FFFFFF;
}

.intro-text .description {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    opacity: 1;
  color: #FFFFFF;
}